<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>




<img src="app/images/face_PNG5646 2.png" alt="Face" class="img-popover">

<script>
$(document).ready(function(){
  $(".img-popover").popover({
    html: true,
    trigger: "hover",
    placement: "bottom"
  });
})
</script>
